---
layout: default
title: Hamburg 2023
permalink: /events/hamburg2023/
event_hide: false
event_date: 2023-10-31
event_date_string: October 31st, November 1st-2nd 2023
event_location: Hamburg, Germany
event_summary: Three days to continue the growth of the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p><strong>When:</strong> {{ page.event_date_string }}.</p>
<p><strong>What:</strong> {{ page.event_summary }}</p>
<p>As a follow up to the six previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | relative_url }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | relative_url }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | relative_url }}">Berlin 2017</a>,
  <a href="{{ "/events/paris2018/" | relative_url }}">Paris 2018</a>,
  <a href="{{ "/events/Marrakesh2019/" | relative_url }}">Marrakech 2019</a> and
  <a href="{{ "/events/venice2022/" | relative_url }}">Venice 2022</a>

  the reproducible builds folks have met again!
  And just like previous years, the heart of the workshop were three days of moderated sessions with the goals outlined just below.
</p>

<p><strong>Where:</strong><br>
<a href="https://dock-europe.net">dock europe e.V.</a>
Bodenstedtstr. 16<br>
22765 Hamburg<br>
Germany<br>
<!-- a href="https://www.openstreetmap.org/search?query=Via%20Alfredo%20Ceccherini%2C%2021%2C%2030174%20Venezia%20VE%2C%20Germany#map=19/45.50348/12.23570">OpenStreetMap</a -->

</p>

<h2>Goals</h2>
<p>
  As previously, the exact content of the meeting has been shaped by the participants,
  these were our main goals as organizers:
</p>
<ul>
  <li>Physically meet each other after such a long time! ;-)</li>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling users to get the most benefits from reproducible builds.</li>
  <li>Work together and hack on solutions.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>
<a href="{{ "/images/groupphoto_rb2023summit.jpg" | relative_url }}"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rb2023summit.jpg" | relative_url }}" alt="Reproducible Builds Summit 7 in Hamburg 2023"/></a>

<h2>Participants</h2>
<p>
  There have been participants from
Apache Maven, Apache Security, Arch Linux, arch-repro-status, Buildroot, CHAINS (KTH Royal Institute of Technology), coreboot, Debian, ElectroBSD, F-Droid, Fedora, GitHub, GNU Guix, Google Cloud, JustBuild, LibreOffice, Mobian, NixOS, openSUSE, OpenWrt, phosh, privoxy, Pure OS, Qubes OS, rebuilderd, Red Hat, repro-env, Rust, spytrap-adb, systemd, Tor Project, Ubuntu, Warpforge
  and more...
</p>

<h2>Event Documentation</h2>

<ul>
 <li>
   <a href="{{ "/events/hamburg2023/agenda" | relative_url }}">Agenda</a> with links to many session notes
 </li>
 <li>
   <a href="{{ "/news/2023/11/02/farewell-from-the-reproducible-builds-summit-2023/" | relative_url }}">a farewell posting</a>
 </li>
</ul>
<p>
There was a huge variety of topics discussed. To give a few examples:
</p>
<ul>
    <li>continuing design and development work on .buildinfo infrastructure</li>
    <li>discussing formats and tools we can share</li>
    <li>language specific respositories and package managers (e.g. PyPI, NPM, etc)</li>
    <li>infrastructure needs like e.g. snapshot services, public verification serices</li>
    <li>software bill of materials</li>
    <li>future directions for diffoscope, reprotest &amp; strip-nondeterminism</li>
    <li>reproducible filesystem images</li>
    <li>real world success stories</li>
    <li>and many many more.</li>
</ul>

<a href="{{ "https://rebuilder-snapshot.debian.net" | relative_url }}"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/hamburg2023/postit-rb-summit-hamburg-20231101.jpg" | relative_url }}" alt="A postit note written by Jan-Benedict Glaw at the summit in Hamburg, confirming Holger Levsen's theory that rebuilding all Debian packages needs a very small subset of packages. The text states that 69200 packages (in sid) list 24850 packages in their .buildinfo files, in 80200 variations."/></a>


<h2 id="Location">Location</h2>

<p>
  The event took took place at <a href="https://dock-europe.net">dock europe e.V.</a>
  in Hamburg Altona, Germany.
</p>


<p>
  <img src="{{ "/images/hamburg2023/fux_outdoor.jpg" | relative_url }}" width="640px" /><br>
  <em class="small">The outside area at dock-europe (source: dock-europe.net)</em>
</p>

<p>
The venue is quite easily reachable by public transit, from both the airport and the train stations. <a href="https://wiki.debian.org/DebianEvents/de/2023/DebianReunionHamburg#Location">See this page</a> for more instructions on how to reach the venue.
</p>

<p>
  The event space can also lodge 28 people in 2-people bedrooms which we allocated on request during registration.
</p>

<!--
<p>
 To enable us to focus on our workshop and it's goals, freshly prepared local
 food is served lunch and dinner.
</p -->


<h3>Participation costs</h3>

<p>
Attendance to the summit was free of charge!<br>
If you were attending on behalf of your company, corporate registration was available. <!-- please contact us if you are interested in that! -->
</p>

<!-- p>
We are working to confirm sponsors to support the event, who will offset the shared expenses for everybody (meeting room, stationary, meals, ...).  If you or your company/organization can help out, please reach out to us</a>.<br>
</p -->

<!--
<p>
In an effort to maximize inclusion and expand the diversity of the community, we are offering additional travel support on a case by case basis. We invite first-time attendees and those in financial need to apply for travel funding. We also invite people from groups traditionally underrepresented in free software to apply for travel funding, including:
<ul>
    <li>Women (cis and trans), trans men, and genderqueer people.</li>
    <li>Individuals from Latin America, Africa, South Asia and Southeast Asia.</li>
    <li>Anyone who is subject to systemic bias or discrimination, and impacted by under-representation in free software. Please email us and let us know what kind of diverse perspective you will bring to the conference.</li>
</ul>

We can also provide support to active Reproducible Builds contributors for whom this expense would be difficult to afford.
</p>
<p>
You can request financial support by emailing the orga team with the information requested at <a href="{{ "events/hamburg2023/travelsupport.html" | relative_url }}">this page</a>.
</p>
-->

<!-- h3>Other activities</h3>
<p>
  <em>To be organized</em> by the attendees while there.<br />
</p -->

<h2>Code of Conduct</h2>
<p>
  This event was run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing events where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Organized by</h3>

<p>
The organization team can be reached via email to <a href="mailto:2023-summit-team@lists.reproducible-builds.org">2023-summit-team@lists.reproducible-builds.org</a>.  This is a private mailing list where only the organizers are present.
</p>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | relative_url }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Vagrant, Chris and Mattia

<h2>Sponsors</h2>

<p>
We are thankful for having had these sponsors for this event! Please <a href="mailto:2023-summit-team@lists.reproducible-builds.org">contact us</a> if you want to <a href="{{ "/images/hamburg2023/sponsor_invitation.pdf" | relative_url }}" target="_blank">support future event like this one</a>.
</p>

<h4>Gold Level</h4>
<div class="row bg-light p-md-4 p-sm-2 pt-5 pb-5">
    <div class="col-xs-12 col-sm-6 mb-6 pb-3 mx-auto">
        <div class="card text-center">
            <a href="https://mullvad.net/" name="Mullvad">
                <img class="p-5 project-img sponsor-img-plantinum" src="{{ "/assets/images/sponsors/mullvad.svg" | relative_url }}" alt="Mullvad">
            </a>
        </div>
    </div>
</div>

<h4>Bronze Level</h4>
<div class="row bg-light p-md-4 p-sm-2 pt-5 pb-5">
    <div class="col-xs-12 col-sm-6 mb-6 pb-3 mx-auto">
        <div class="card text-center">
            <a href="https://www.opensuse.org/" name="openSUSE">
                <img class="p-5 project-img" src="{{ "/images/logos/openSUSE.png" | relative_url }}" alt="openSUSE">
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-6 pb-3 mx-auto">
        <div class="card text-center">
            <a href="https://www.debian.org/" name="Debian">
                <img class="p-5 project-img" src="{{ "/images/logos/debian.png" | relative_url }}" alt="Debian">
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-6 pb-3 mx-auto">
        <div class="card text-center">
            <a href="https://sfconservancy.org/" name="Software Freedom Conservancy">
                <img class="p-5 project-img" src="{{ "/images/logos/sfconservancy.svg" | relative_url }}" alt="Software Freedom Conservancy">
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mb-6 pb-3 mx-auto">
        <div class="card text-center">
            <a href="https://www.allotropia.de/" name="allotropia software GmbH">
                <img class="p-5 project-img" src="{{ "/assets/images/sponsors/allotropia.svg" | relative_url }}" alt="allotropia software GmbH">
            </a>
        </div>
    </div>
</div>


<h4>Supporters</h4>
<ul><li><a href="https://about.google/">Google</a></li></ul>

<h2>Travel and getting there</h2>

<!-- h3>Visas</h3>

<p>
  We expect most of our attendees to not need a visa to enter Germany.<br>
  See <a href="https://www.auswaertiges-amt.de/en/visa-servic">the website from The Federal Foreign Office</a> to verify whether you need one.
</p>
<p>
  Contact the organization team if you need help with getting a visa processed.
</p -->

<h3>Travel to Hamburg and the venue</h3>

<p>
  The nearest airport is <a href="https://en.wikipedia.org/wiki/Hamburg_Airport">Hamburg Airport</a>
  from which there is a direct subway connection to Hamburg Altona. Hamburg Altona is also 
  an ICE train station with trains to/from Berlin, Kopenhagen, Munich, Prague, Vienna and Zurich, besides many other places.<br>
  This being Hamburg, of course you can also reach us by sea!
</p>
<p>
The venue is quite easily reachable by public transit, from both the airport and the train stations. <a href="https://wiki.debian.org/DebianEvents/de/2023/DebianReunionHamburg#Location">See this page</a> for more instructions on how to reach the venue.
</p>

<!-- h2>Registration</h2>
<p>
Registration for this event is now closed, however if you are still interested in attending, please <a href="mailto:2023-summit-team@lists.reproducible-builds.org">mail us</a> to check if there is still space available!
</p -->

