<div class="row footer mb-5 mx-4">

  {% assign sponsors = site.data.sponsors.platinum | sort: 'name' %}
  {% if sponsors.size != 0 %}
  <div class="col-lg-3 px-lg-5  col-md-12 d-none d-sm-block">
    <p class="text-muted small">
      We are proud to be <a href="{{ "/sponsors/" | relative_url }}">sponsored by</a>
    </p>

    <div class="d-flex justify-content-between align-items-center flex-row flex-lg-column flex-xl-row">
      {% for x in sponsors %}
      <a href="{{ x.url }}" name="{{ x.name }}">
        <img class="pt-lg-2" src="{{ x.logo | prepend: "/assets/images/sponsors/" | relative_url }}" height="auto" width="100" alt="{{ x.name }}"/>
      </a>
      {% endfor %}
    </div>
  </div>
  {% else %}
  {% endif %}

  <div class="col-lg-6 col-md-12 py-3 py-lg-0">
    <span class="text-muted small d-none d-sm-inline align-bottom">
      Follow us on Mastodon <a href="https://fosstodon.org/@reproducible_builds">@reproducible_builds@fosstodon.org</a> or
      <a href="https://reddit.com/r/reproduciblebuilds">Reddit</a> and
      please consider <a href="{{ "/sponsor/" | relative_url }}">making a donation</a>.
      &bull;
      Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="rb-link" target="_blank">CC BY-SA 4.0</a>,
      style licensed under <a href="https://opensource.org/licenses/MIT" class="rb-link" title="MIT" target="_blank">MIT</a>.
      Templates and styles based on the <a href="https://styleguide.torproject.org/" target="_blank">Tor Styleguide</a>.
      Logos and trademarks belong to their respective owners.
      &bull;
      Patches for this website welcome <a href="https://salsa.debian.org/reproducible-builds/reproducible-website">via our Git repository</a>
      (<a href="{{ "/contribute/salsa/" | relative_url }}">instructions</a>) or via <a href="https://lists.reproducible-builds.org/listinfo/rb-general">our mailing list</a>.
      &bull;
      <a href="{{ "/who/" | relative_url }}">Full contact info</a>
    </span>
  </div>

  <div class="col-lg-3 px-lg-5 col-md-12 d-flex justify-content-between align-items-center flex-row flex-lg-column flex-xl-row">
    <a href="https://sfconservancy.org">
      <img src="{{ "/assets/images/footer/conservancy.png" | relative_url }}" height="45" width="auto" alt="software freedom conservancy"/>
    </a>
    <a href="{{ "/" | relative_url }}">
      <img src="{{ "/images/logos/rb.svg" | relative_url }}" height="45" width="auto" alt="Reproducible Builds"/>
    </a>
  </div>

</div>
