<head>
  <meta charset="utf-8">
  <title>{% if page.title_head %}{{ page.title_head }}{% else %}{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}{% endif %}</title>

  {% assign cachebust = site.time | date:'?%s' %}
  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url | append: cachebust }}">

  <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}"/>

  <link href="{{ "/assets/fonts/overpass.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "/assets/fonts/overpass-mono.css" | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/static/open-iconic-bootstrap.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/static/bootstrap.min.css" | relative_url }}">

  <link rel="alternate" type="application/rss+xml" title="Reproducible Builds - Posts" href="{{ "/feed.xml" | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="Reproducible Builds - All News" href="{{ "/blog/index.rss" | absolute_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.url == "/" %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ReproBuilds">
  <meta name="twitter:title" content="Reproducible Builds">
  <meta name="twitter:description" content="Reproducible builds are a set of software development practices that create an independently-verifiable path from source to binary code.">
  <meta name="twitter:image" content="{{ "/images/logos/rb-logo-only.png" | absolute_url }}">
  {% endif %}

</head>
