.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-gray-0 {
  background-color: $oc-gray-0;
}

.background-gray-1 {
  background-color: $oc-gray-1;
}

.background-gray-2 {
  background-color: $oc-gray-2;
}

.background-gray-3 {
  background-color: $oc-gray-3;
}

.background-gray-4 {
  background-color: $oc-gray-4;
}

.background-gray-5 {
  background-color: $oc-gray-5;
}

.background-gray-6 {
  background-color: $oc-gray-6;
}

.background-gray-7 {
  background-color: $oc-gray-7;
}
.background-gray-8 {
  background-color: $oc-gray-8;
}

.background-gray-9 {
  background-color: $oc-gray-9;
}

.color-primary {
  color: $primary
}

.color-secondary {
  color: $secondary;
}

.color-gray-2 {
  color: $oc-gray-6;
}

.rb-code {
  font-family: 'Overpass Mono', monospace !important;
}

.rb-isBold {
  font-weight: bold;
}

.btn-primary {
  background-color: $primary !important;
  &:hover {
    background-color: $secondary !important;
  }
}

.btn-outline-primary {
  border-color: $primary !important;
  color: $primary !important;

  &:hover {
    background-color: $primary !important;
    color: white !important;
  }
}

.btn-link {
  color: $primary !important;

  &:hover {
    color: $secondary !important;
  }
}

.badge-primary {
  background-color: $primary !important;
}

.badge-secondary {
  background-color: $secondary !important;
}

.rb-link {
  color: $primary !important;
  &:hover {
    color: $secondary !important;
  }
}

.rb-paginate-active {
  background-color: $primary !important;
  color: white !important;

  &:hover {
    background-color: $secondary !important;
  }
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: $oc-gray-1 !important;
}

.mark, mark {
  background-color: $oc-gray-2 !important;
  padding: .2em !important;
}

.tinted-icon {
  width: 100px;
  height: 100px;
  font-size: 60px;
  background-color: #c3ccd5;
  filter: sepia(1) hue-rotate(180deg);
}

.big-cta {
  color: white;
  display: flex;
  align-items: center;
  margin: 0 15px;
  transition: transform 0.25s;
  width: 100%;
  &:hover {
    transform: scale(1.01);
    color: white;
    .point {
      transform: scale(1.1);
    }
  }
  .card-body {
    background-color: $primary;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    strong {
      display:block;
    }

    @media (min-width: 576px) {
      flex-direction: row;
    }
  }
  .cta-text {
    flex-shrink: 100;
  }
  .point {
    content: "";
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s;
    &:before {
      content: "";
      display: block;
      background-color: $primary;
      width: 2em;
      height: 2em;
      transform: rotate(45deg);
      margin-left: -0.5em;
    }
    &:after {
      content: "";
      display: block;
      background-color: white;
      width: 1.5em;
      height: 1.5em;
      transform: rotate(45deg);
      position: absolute;
      margin-left: -1.75em;
    }
  }
}

@media (min-width: 992px) {
  .offset-boxes {
    padding-bottom: 4em;
    .col-lg-6:nth-child(even) {
      margin-top: 4em;
      margin-bottom: -2.5em !important;
    }
  }
}