
.border-left-right {
    // z-index: 99;
    border-left: 1px solid $oc-gray-3 !important;
    border-right: 1px solid $oc-gray-3 !important;
}

.row {
  margin: auto !important;
}

.active {
  background-color: transparent !important;
  color: $secondary !important;
  font-weight: bold;

  & * {
    color: $secondary !important;
  }
}

.rb-navbar__top {
  background-color: $primary;
  padding: 1rem 0;
}


.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}
