<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <div class="container">
      <main role="main" class="content-scroll p-3">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
