<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <main role="main" class="content-scroll p-3">
      {{ content }}
    </main>
    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
